<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./phpunit.php" colors="true">

	<!-- Application Tests -->
    <testsuite name="ApplicationTestSuite">
        <directory>./classes</directory>
    </testsuite>
    
    <!-- Module Tests -->
    <testsuite name="Seso Module Test Suite">
        <directory>../source/modules/seso/tests/classes</directory>
    </testsuite>
    
</phpunit>